<!DOCTYPE html>
<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <head>
        <title>Recovery</title>
    </head>
    <div class="panel panel-default panel-user text-center">
        <div class="panel-body">
            <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
            <h3>
                <f:translate key="forgot_header" />
            </h3>
            <p>
                <f:translate key="forgot_reset_message" />
            </p>
            <f:render partial="ValidationErrors" />
            <f:form action="recovery" method="post" class="form-user form-forgot">
                <fieldset>
                    <legend>&nbsp</legend>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <f:form.textfield name="userIdentifier" class="form-control" id="tx_felogin_pi1-forgot-email" placeholder="{f:translate(key: 'll_enter_your_data')}" />
                    </div>
                    <div id="RoboBlock">
                        <div class="loader" style="margin: 0 auto"></div>
                    </div>
                </fieldset>
            </f:form>
            <p>
                <f:link.action action="login" controller="Login">
                    <f:translate key="forgot_header_backToLogin" />
                </f:link.action>
            </p>
        </div>
    </div>
</html>