<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #424043;background: #ececec;padding: 0;margin: 0;line-height: 1.25em;">
<head>
    <title>Cryptshare notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- External CSS for Email Styling -->
    <link rel="stylesheet" href="EXT:cryptsharesaas/Resources/Public/Css/Templates/system-email.css" type="text/css" />
</head>

<body style="margin: 0;padding: 0;">
    <table class="table-separator top" style="height: 20px;font-size: 0;">
        <tr><td height="20"></td></tr>
    </table>

    <table class="desktop-tbl" cellpadding="0" cellspacing="0" align="center" style="width: 742px; border-collapse: collapse;">
        <tr>
            <td colspan="3">
                <table class="table-content table-primary" cellpadding="0" cellspacing="0" style="font-size: 12px; width: 100%; border-radius: 3px; background: #fff;">
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="gutter-left" style="width: 20px;"></td>
                        <td class="logo text-center">
                            <img alt="Logo" src="https://www.cryptshare.express/fileadmin/primary/Public/Images/Cryptshare-Express-Email-Logo.png" border="0" style="-ms-interpolation-mode:bicubic;">
                        </td>
                        <td class="right-gutter"></td>
                    </tr>

                    <tr class="hidden-mobile">
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="gutter-left" style="width: 20px;"></td>
                        <td id="content-cell" align="left" style="padding-bottom: 10px;">
                            <f:if condition="Title">
                                <h1 class="text-center" style="font-size: 18px;margin-top: 10px;line-height: 26px;">
                                    <f:render section="Title" optional="true" />
                                </h1>
                            </f:if>

                            <table class="table-message" cellpadding="0" cellspacing="0" style="background: #f4f4f4; width: 100%;">
                                <tr>
                                    <td class="gutter-left" style="width: 20px;"></td>
                                    <td>
                                        <p style="font-size: 12px;margin: 10px 0;"><f:render section="Main" /></p>
                                    </td>
                                    <td class="gutter-right" style="width: 20px;"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="gutter-right" style="width: 20px;"></td>
                    </tr>
                </table>

                <table class="table-separator" style="height: 20px;font-size: 0;">
                    <tr><td height="20"></td></tr>
                </table>

                <table class="table-content table-secondary" cellpadding="0" cellspacing="0" style="font-size: 12px; width: 100%; border-radius: 3px; background: #fff; color: #8e8c8e;">
                    <tr>
                        <td colspan="3" class="gutter-top" style="height: 10px;"></td>
                    </tr>
                    <tr>
                        <td class="gutter-left" style="width: 20px;"></td>
                        <td>
                            <div class="footer">
                                <p class="text-center muted" style="font-size: 12px;margin: 10px 0;color: #b3b3b4;">This message has been generated automatically.</p>
                                <p class="text-center muted" style="font-size: 12px;margin: 10px 0;color: #b3b3b4;">Secure email and file transfer as a service: <a href="https://www.cryptshare.express/en/intro" style="color: #2094d2;">This is Cryptshare.express</a>.</p>
                            </div>
                        </td>
                        <td class="gutter-right" style="width: 20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="gutter-bottom" style="height: 10px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table-separator" style="height: 20px;font-size: 0;">
        <tr><td height="20"></td></tr>
    </table>
</body>
</html>
