<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Error 500</title>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                    })(window,document,'script','dataLayer','GTM-NC42V3L');</script>
    <!-- End Google Tag Manager -->
    
    <style>
      body {
        margin: 7% auto 0;
      }
      #Wrapper {
        max-width: 420px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ccc;
        padding: 10px 15px;
      }
      #logo {
        width: 200px;
        height: auto;
      }
      #robot {
        float: right;
      }
      .URL {
        color: red;
      }
      a:link,
      a:visited {
        color: #000;
      }
      
    </style>    
    
  </head>
  <body>
    <!-- Google Tag Manager (noscript) --><noscript><iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-NC42V3L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
    <div id="Wrapper">
    
      <img src="/typo3conf/ext/cryptsharesaas/Resources/Public/Images/robot-detected.gif" alt="Robot" id="robot"><a href="/"><img src="/typo3conf/ext/cryptsharesaas/Resources/Public/Images/Cryptshare-Express-Logo_lok.svg" id="logo" alt="Pointsharp GmbH"></a>
    
      <p><strong>Error 500</strong> - Internal Server Error</p>
      
      <p>Visit our <a href="/">Homepage</a></p>
    
    </div>

  </body>
</html>