<f:cObject typoscriptObjectPath="lib.GOOGLE_TAGMANAGER" />
<f:cObject typoscriptObjectPath="lib.FLASH_MESSAGES" />
<f:cObject typoscriptObjectPath="lib.MOBILE_NAVI" />
<main role="main">

  <div class="container-fluid h-100">

    <div class="row h-100">

      <div class="col-lg-8 col-md-8 col-sm-6 layout-col-bg-gradient">

        <f:cObject typoscriptObjectPath="lib.CONTENTCOL_2" />

      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 layout-col-bg-grey">

        <f:cObject typoscriptObjectPath="lib.CONTENTCOL_3" />

      </div>

    </div>

  </div>

  <div id="BeyondTheFold"></div>

  <f:cObject typoscriptObjectPath="lib.CONTENTCOL_4" />

  <footer id="footer">
    <section class="page-wrapper">
      <f:cObject typoscriptObjectPath="lib.FOOTER" />
      <f:cObject typoscriptObjectPath="lib.LANGUAGE" />
      <f:cObject typoscriptObjectPath="lib.COPYRIGHT" />
    </section>
  </footer>

</main>

<f:cObject typoscriptObjectPath="lib.FOOTER_HOME" />
<f:cObject typoscriptObjectPath="lib.CHAT" />

<f:cObject typoscriptObjectPath="lib.CONTENTCOL_HINT" />
<f:cObject typoscriptObjectPath="lib.CONTENTCOL_HINT_ACTION" />